.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 1em 0.6em; 
}

.titulo__cabecalho{
    height: 20px;
    margin-left: 0.8em;
}

.cabecalho__lista{
    display: flex;
}

.cabecalho__item{
    list-style-type: none;
    margin-right: 0.8em;
}

.cabecalho__imagem{
    height: 17px;
}


@media screen and (min-width: 1440px){
    .titulo__cabecalho{
        font-weight: 500;
        height: 25px;
    }

    .cabecalho__imagem{
        height: 25px;
    }
}